/* client/src/App.css */
.App {
  text-align: center;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%; 
}
.movie {
  margin: 15px;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
}

.movie img {
  width: 100%;
  height: auto;
}

.movie h2 {
  font-size: 1.2rem; 
}


button {
  background-color: #d33434;
    color: #fff;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.6rem;
}

button.added {
  background-color: green;
}

.favorites-page {
  text-align: center;
  padding: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.movie-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-item h3 {
  font-size: 1.2 em;
  margin: 10px 0;
}

.movie-item p {
  font-size: 0.9em;
  color: #666;
}




